
/* flexbox froggy */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Patrick Hand', sans-serif;
}

body{
    background-color: green;
    /* height: 100vh;
    width: 100vw;  */
    /* Utilizar solamente estas unidades en el body */
    display: flex;
}
main{
    /* height: 100%; */
    width: 65%;
    background-color: #F8F9FA;
    padding: 2em;
}

aside{
    background-color: #092439;
    margin: 0;
    width: 35%;
    /* height: 100%; */
    color: #f9fafa;

}




.perfil{
    padding: 1em;
    width: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
    .foto{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        border: solid 2px #000000;
        margin-top: 1rem;
        overflow: hidden; 
        box-shadow: -30px 1px 80px 5px #79ebd5, 30px 10px 70px 3px #092439, 0px 50px 80px 5px #4d4eaf,  5px -30px 80px 5px #4d4eaf ;
        /* esto es para que la imagen no se salga del circulo */
        img{
            width: 100%;
            height: 100%;
            object-fit: cover; 
            /* esto es para que la imagen no se deformen */
        }
    }

    .datos{
        text-align: center;
        p{
            font-size: 30px;
        }
        h1{
            font-size: 40px;
            color: #22324b;
        
        }
    }

    
}


.datos_perfil{
    h2{
        color: #092439;
    }
}

.experienciaUno{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    

    .nombreTrabajo{
        font-size: 30px;
    }
    .fechaTrabajo{
        background-color: #092439;
        padding: 10px;
        border-radius: 15px;
        border: solid 2px #000000 ;
        color: #ffffff;
    }
    .datosTrabajo{
        padding: 2em;
    }
    .nombreCompania{
        display: flex;
        justify-content: space-between;
        h4{
            color: #092439;
        }
    }
}

.datosPersonales{
    width: 100%;
    background-color: #79ebd5;
    padding: 2em;
    color: black;
    text-align: center;
    ul.listaDP{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        li{
            list-style: none;
        }
    }
}

.redes{
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 150px;
    /* background-color: chocolate; */
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    i{
        font-size: 1.5em;
    }
    

}


.educacion{
    width: 100%;
    /* background-color: rgb(0, 22, 83); */
    padding: 2em;
}

.lenguas{
    width: 100%;
    padding: 2em;

    .contenedorIdioma {
        display: flex;
        justify-content: center;
        gap: 2em; 
        padding: 2em;
    }
    
    .circulo {
        width: 20px;  
        height: 20px; 
        border-radius: 50%; 
        background-color: #092439; 
        border: solid 1px lightgray;
    }
    
    .pintado {
        background-color: lightgray; 
    }
}





.contenedorFlexbox{
    display: flex;
    flex-direction: row; /*por defecto esto siempre esta en row */
    background-color: #4d4eaf;
    /*Cuando de un elemento se devorda de su elemento padre aparece la barra para deslizar de forma horizontal*/
    overflow-x: auto;
    gap: 10px;/*espacio entre elementos(no cuenta los costados)*/
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.tarjeta{
    height: 400px;
    flex: 0 0 100px;/*primre parametro abilita para que se expanda, el segundo parametro es para que no se encoja, y el ultimo parametro es el flex-basis*/
    /* flex-basis: 100px;para que ocupe todo el ancho, este esta relacionado a la direccion, ya sea en el eje x o eje y */
    background-color: rgb(24, 114, 114);
    color: #ffffff;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px 0 rgb(0,0,0,0.5);
}

.tarjeta:hover{
    transform: scale(.95);
}

.tarjeta:nth-child(2){
    background-color: #a33434;
}

.tarjetaTitulo{
    font-size: 1.5em;
    font-weight: bold;
}

.tarjetaContenido{
    font-size: 1em;
    background-color: #ffffff;
    color: #000000;
    padding: 1em;
    border-radius: 1em;
}