* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Patrick Hand', sans-serif;
}

body{
    background-color: green;
    /* height: 100vh;
    width: 100vw;  */
    /* Utilizar solamente estas unidades en el body */
    display: flex;
}
main{
    /* height: 100%; */
    width: 60%;
    background-color: #F8F9FA;
    padding: 2em;
}

aside{
    background-color: #092439;
    margin: 0;
    width: 40%;
    height: 100%;
    color: #f9fafa;

}




.perfil{
    padding: 1em;
    width: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
    .foto{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        border: solid 2px #000000;
        margin-top: 1rem;
        overflow: hidden; 
        box-shadow: -30px 1px 80px 5px #79ebd5, 30px 10px 70px 3px #092439, 0px 50px 80px 5px #4d4eaf,  5px -30px 80px 5px #4d4eaf ;
        /* esto es para que la imagen no se salga del circulo */
        img{
            width: 100%;
            height: 100%;
            object-fit: cover; 
            /* esto es para que la imagen no se deformen */
        }
    }

    .datos{
        text-align: center;
        p{
            font-size: 30px;
        }
        h1{
            font-size: 40px;
            color: #22324b;
        
        }
    }

    
}


.experienciaUno{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    

    .nombreTrabajo{
        font-size: 30px;
    }
    .fechaTrabajo{
        background-color: #092439;
        padding: 10px;
        border-radius: 15px;
        border: solid 2px #000000 ;
        color: #ffffff;
    }
    .datosTrabajo{
        padding: 2em;
    }
    .nombreCompania{
        display: flex;
        justify-content: space-between;
        h4{
            color: #092439;
        }
    }
}

.datosPersonales{
    width: 100%;
    background-color: #79ebd5;
    padding: 2em;
    color: black;
    text-align: center;
    ul.listaDP{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        li{
            list-style: none;
        }
    }
}

.redes{
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 150px;
    /* background-color: chocolate; */
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    

}


.educacion{
    width: 100%;
    /* background-color: rgb(0, 22, 83); */
    padding: 2em;
}
.lenguas{
    width: 100%;
    padding: 2em;

    .contenedorIdioma {
        display: flex;
        justify-content: center;
        gap: 2em; 
        padding: 2em;
    }
    
    .circulo {
        width: 20px;  
        height: 20px; 
        border-radius: 50%; 
        background-color: #092439; 
        border: solid 1px lightgray;
    }
    
    .pintado {
        background-color: lightgray; 
    }
}

































/* 
main {
    display: flex;
    height: calc(100vh - 2rem);
    margin: 1rem;
}

main p{
    font-size: 20px;
}


aside{
    background-color: #dff1ff;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    text-align: center;
    border: solid 2px #000000;
    gap: 2rem;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 20px;
    border: solid 2px #000000;
    object-fit: cover; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #F8F9FA;
}

.Contacto{
    background-color: #a5d8ff;
    padding: 5px;
    width: 100%;
    border: solid 2px #000000;
    border-radius: 15px;
}

.contenedor{
    margin: 20px;
    width: 80%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.nombre{
    border: solid 2px #000000;
    background-color: #a5d8ff;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
.habilidades p{
    padding: 10px;
}
.habilidades h2{
    background-color: #a5d8ff;
    padding: 5px;
    width: 100%;
    border: solid 2px #000000;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 
}

.estudios p{
    padding: 10px;
}
.estudios h2{
    background-color: #a5d8ff;
    padding: 5px;
    width: 100%;
    border: solid 2px #000000;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.titulo{
    font-size: 50px;   
} */