:root{
  --bg-body: #FFFFFF;
  --txt-grey: #8A8797;
  

  --bg-button: #4449EB;
  --txt-button: #FFFFFF;

  --bg-button-hover: #3136D5;

  --txt-titulo-carta: #7A7A7C;
  --txt-subtitulo-carta: #B6B7B6;

  






}