@import url(../../assets/css/tipografia.css);
@import url(assets/colors.css);
@import url(assets/styleBasic.css);

body{
    background-color: var(--bg-body);
    header{
        width: auto;
        height: auto;


        nav{
            display: flex;
            justify-content: space-between;
            padding: 5px;
            align-items: center;
            .menu{
                width: 2em;
                height: 2em;
                padding: 5px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: var(--txt-gris-oscuro);
                }
            }
            .logo{
                display: flex;
                height: 2em;
                align-items: center;
                img{
                    height: 100%;
                    width: auto;

                }
                
                h1{
                    font-weight: bolder;
                    color: var(--txt-celeste);    
                }
                

            }

            .perfil{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                
            }
        }
    }


    main{
        display: flex;
        flex-direction: column;
        
        
                
        height: auto;
        .contenedor_buscador{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3em;
            .buscador{
                background-color: #ffffff;
                display: flex;
                align-items: center;
                padding: 10px;
                justify-content: space-between;
                gap: 2em;
                border-radius: 7px;
                box-shadow: 1px 1px 1px var(--bg-sombra);
                color: var(--txt-gris-claro);

                input{
                    border: none;
                    
                }
            }

        }

        .featured{
            
            display: flex;
            flex-direction: column;
            .featured_search{
                width: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .6em;
                h2{
                    color: var(--txt-negro);
                }

                .filtros{
                    display: flex;
                    gap: 1em;
                    .sort, .filter{
                        background-color: var(--bg-blanco);
                        padding: 4px 10px;
                        border-radius: 7px;
                        font-size: 14px;
                        color: var(--txt-negro);
                        box-shadow: 1px 1px 1px var(--bg-sombra);
                    }
                    

                }
            }
            .featured_categorias{
                overflow-x: scroll;
                display: flex;
                gap: 1em;
                scrollbar-width: none;
                
                

                .categoria_tarjeta{
                    flex:0 0 60px;
                    display: flex;
                    flex-direction: column;
                    width: 80px;
                    height: auto;
                    overflow: hidden;
                    padding: 5px;
                    align-items: center;
                    color: var(--txt-negro);

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    span{
                        font-size: 13px;
                    }
                    
                   
                    
                  
                }
            }
            

            
        }

        .contenedor_descuentos{
            display: flex;
            align-items: center;
            gap: 2em;
            padding: 20px;
            justify-content: center;

            .imagen_descuento{
                display: flex;
                flex:0 0 300px;
                width: 300px;
                height: auto;
                overflow: hidden;
            
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .texto_arriba{
                    position: absolute;
                    padding: 4px;
                    
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    color: #ffffff;
                    p{
                        font-size: 13px;
                    }
                    button{
                        border: solid 1px #ffffff;
                        color: #ffffff;
                        padding: 5px 10px;
                        background-color: transparent;
                        
                    }
                }
            }


            

        }

        .contenedor_ofertaDia{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .descuento{
                display: inline-block;
                font-weight: lighter;
                background-color: #4392F9;
                padding: 5px 12px;
                border-radius: 10px;
                color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 20px;
                gap: 1em;
                
                .tiempo{
                    display: flex;
                    flex-direction: column;
                    h3{
                        font-weight: lighter;
                    }
                    
                    .tiempo_restante{
                        
                        display: flex;
                        gap: .5em;
                    }
                }

                .redireccion_oferta{
                    button{
                        border: solid 1px #ffffff;
                        color: #ffffff;
                        background-color: transparent;
                        padding: 5px 10px;
                        border-radius: 5px;

                    }
                    
                }
                

            }
        }

        .contenedor_productos{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
            scrollbar-width: none; 
            justify-content: center;
            gap: 1em;
            margin: 10px;
            .tarjeta_producto{
                width: 170px;
                display: flex;
                flex-direction: column;
                align-items: start;
                font-weight: lighter;
                gap: 3px;
                color: #000000;
                h4{
                    color: #000000;
                    font-size: 15px;
                }
                .descripcion{
                    font-size: 13px;
                }
                img{
                    width: 170px;
                    height: auto;
                    border-radius: 10px;
                }
                .precio{
                    width: 100%;
                    .precio_actual{
                        color: #000000;
                        font-weight: bold;
                        font-size: 18px;
                    }
                    .precio_viejo{
                        .precio_tachado{
                            text-decoration: line-through;
                            color: #5f5f5f;
                        }
                        .descuento_precio{
                            color: #ff2828;
                        }
                    }
                }
            }
        }

        .contenedor_ofertas{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: center;
            margin-top: 10px;
            .oferta{
                background-color: #ffffff;
                border-radius: 10px;
                width: 90%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                img{
                    width: 80px;
                    height: auto;
                }
        }


        }
        

        .tacones{
            display: flex;
            align-items: center;
            justify-content: center;

            .tarjeta_tacones{
                    position: relative;

                margin-top: 10px;
                display: flex;
                height: 200px;
                background-color: #ffffff;

                img{
                    width: 40%;

                }

                .contenido_tacones{
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    text-align: end;
                    justify-content: center;
                    padding: 5px 20px;
                    color: var(--txt-gris-oscuro);
                    gap: 4px;
                    button{
                        border: none;
                        background-color: #F83758;
                        color: #ffffff;
                        padding: 5px 15px;
                        border-radius: 5px;

                    }
                }
            }

            .foto_tacones{
                position: absolute;
                width: 30px;
                height: auto;
                top: 50px;
                left: 30px;
            }
            
        }


        .contenedor_tendencia{
            display: flex;
            justify-content: center;
            .tendencia{
                background-color: #FD6E87;
                color: #ffffff;
                margin-top: 10px;
                border-radius: 5px;
                display: flex;
                padding: 5px 15px;
                gap: 1em;

                .contenido_tendencia{
                    font-weight: lighter;
                }

                button{
                    border: solid 1px #ffffff;
                    background-color: transparent;
                    color: #ffffff;
                    border-radius: 5px;
                    padding: 5px 10px;

                }

            }
        }


        footer{
            box-shadow: 1px 1px 10px var(--bg-sombra);
            position: fixed;
            background-color: var(--bg-blanco);
            width: 100%;
            z-index: 999;
            bottom: 0;
            nav{
                display: flex;
                gap: 1em;
                justify-content: space-around;
                position: relative;

                .shop{
                    background-color: var(--bg-blanco);
                    box-shadow: 1px 1px 1px var(--bg-sombra);
                    position: absolute;
                    
                    padding: 15px;
                    border-radius: 50%;
                }

                .footer_fondo{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    .contenedor_navFooter{
                        padding: 20px 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1em;
                        justify-content: space-evenly;

                        i{
                            font-size: 18px;
                        }
                        .contenedor_navFooter:hover{
                            color: red;
                        }
                        span{
                            font-size: 12px;
                        }
                    }

                }

                
                

            }
            
        }

        
        
    }
}