@import url(../../assets/css/tipografia.css);
@import url(assets/colors.css);
@import url(assets/styleBasic.css);

body{
    background-color: var(--bg-body);
    header{
        width: auto;
        height: auto;


        nav{
            display: flex;
            justify-content: space-between;
            padding: 5px;
            align-items: center;
            .menu{
                width: 2em;
                height: 2em;
                padding: 5px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: var(--txt-gris-oscuro);
                }
            }
            .logo{
                display: flex;
                height: 2em;
                align-items: center;
                img{
                    height: 100%;
                    width: auto;

                }
                
                h1{
                    font-weight: bolder;
                    color: var(--txt-celeste);    
                }
                

            }

            .perfil{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                
            }
        }
    }


    main{
        display: flex;
        flex-direction: column;
                
        height: auto;
        .contenedor_buscador{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3em;
            .buscador{
                background-color: #ffffff;
                display: flex;
                align-items: center;
                padding: 10px;
                justify-content: space-between;
                gap: 2em;
                border-radius: 7px;
                box-shadow: 1px 1px 1px var(--bg-sombra);
                color: var(--txt-gris-claro);

            }

        }

        .featured{
            
            display: flex;
            flex-direction: column;
            .featured_search{
                width: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .6em;
                h2{
                    color: var(--txt-negro);
                }

                .filtros{
                    display: flex;
                    gap: 1em;
                    .sort, .filter{
                        background-color: var(--bg-blanco);
                        padding: 4px 10px;
                        border-radius: 7px;
                        color: var(--txt-negro);
                        box-shadow: 1px 1px 1px var(--bg-sombra);
                    }
                    

                }
            }
            .featured_categorias{
                overflow-x: scroll;
                display: flex;
                gap: 1em;
                
                

                .categoria_tarjeta{
                    flex:0 0 80px;
                    display: flex;
                    flex-direction: column;
                    width: 80px;
                    height: auto;
                    overflow: hidden;
                    padding: 5px;
                    align-items: center;
                    color: var(--txt-negro);

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    span{
                        font-size: 14px;
                    }
                    
                   
                    
                  
                }
            }
            

            
        }

        .contenedor_descuentos{
            display: flex;
            align-items: center;
            background-color: aqua;
            gap: 2em;
            padding: 20px;
            justify-content: center;

            .imagen_descuento{
                display: flex;
                flex:0 0 300px;
                width: 300px;
                height: auto;
                overflow: hidden;
            
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .texto_arriba{
                    position: absolute;
                    padding: 4px;
                    
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    color: #ffffff;
                    p{
                        font-size: 13px;
                    }
                    button{
                        border: solid 1px #ffffff;
                        color: #ffffff;
                        padding: 5px 10px;
                        background-color: transparent;
                        
                    }
                }
            }


            

        }

        .contenedor_ofertaDia{
            background-color: blueviolet;
            display: flex;
            justify-content: center;
            align-items: center;
            .descuento{
                display: inline-block;
                background-color: chartreuse;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                gap: 1em;
                .tiempo{
                    background-color: blue;                  
                    display: flex;
                    flex-direction: column;

                    .tiempo_restante{
                        display: flex;
                    }
                }

                .redireccion_oferta{
                    button{
                        border: solid 1px #ffffff;
                    color: #ffffff;
                    background-color: transparent;
                    padding: 5px 10px;

                    }
                    
                }
                

            }
        }


        
        
    }
}